{% extends 'gallery/base.html' %} 
{% block content %}
    <h2>{{ artist.name }} <a href="{% url 'artist_edit' pk=artist.pk %}">(edit)</a></h2>
    <h4>{{ artist.year_born }} - {{ artist.year_died }}</h4>

    <img src="{{ artist.avatar }}" alt="" class="photo"> <br />

    <h4><a href="{{ artist.bio_url }}">Bio</a></h4>

    <h3>Creations<a href="{% url 'creation_create' %}">(+)</a></h3>
    <ul>
        {% for creation in artist.creations.all %}
            <li>
                <a href="{% url 'creation_detail' pk=creation.pk %}">{{ creation.title }} ({{ creation.year_completed }})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}