{% extends 'gallery/base.html' %} 
{% block content %}

{% if '/new' in request.path %}
  <!-- <h1>Add Artist</h1> -->
  <span class="d-block p-2 bg-white text-black">Add Artist</span>
{% elif '/edit' in request.path %}
  <!-- <h1>Edit Artist</h1> -->
  <span class="d-block p-2 bg-white text-black">Edit Artist</span>
{% endif %}

  <form method="POST" class="artist-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Save</button>
  </form>
  
{% endblock %}