{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <div class="header">
<h1>Gallery</h1><br>
    <nav>
      <ul id="navbar">
        <li>
        <a href="/">Home</a>
        </li><li>
        <a href="{% url 'artist_list' %}">Artists</a>
        </li><li>
        <a href="{% url 'creation_list' %}">Creations</a>
        </li>
        </ul>
    </nav>
    </div><br>
    {% block content %} {% endblock %}
  
</body>
</html>