body {
    display: flex;
    flex-direction: column;
    font-family: Lato;
}

.header {
    flex-direction: row;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    background-color: lightblue;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-top: 2vh;
}

ul#navbar li {
    display: inline;
    padding: 5vw;
}

h1 {
    padding-left: 1vw;
}

/* list.html */
a:link {
    text-decoration: none;
    color: black;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

.photo {
    max-width: 300px;
    max-height: 300px;
}

/* form.html */
. {
    border: black solid 1px;
}